<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Assignment1 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Manufacture.presentation.ManufactureModelWizardID"
            name="%_UI_ManufactureModelWizard_label"
            class="Manufacture.presentation.ManufactureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ManufactureModelFile.gif">
         <description>%_UI_ManufactureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Assignment1 -->
      <editor
            id="Manufacture.presentation.ManufactureEditorID"
            name="%_UI_ManufactureEditor_label"
            icon="icons/full/obj16/ManufactureModelFile.gif"
            extensions="manufacture"
            class="Manufacture.presentation.ManufactureEditor"
            contributorClass="Manufacture.presentation.ManufactureActionBarContributor">
      </editor>
   </extension>

</plugin>
